<h2>Band List</h2>
<hr>

<table class="table table-secondary table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Year formed</th>
            <th scope="col">Country</th>
            <th scope="col">Popular song</th>
            <th scope="col">Genre</th>
            <th scope="col">Youngest member age</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let band of bands; let i=index">
            <td>{{i+1}}</td>
            <td>{{band.name}}</td>
            <td>{{band.year_formed}}</td>
            <td>{{band.country}}</td>
            <td>{{band.popular_song}}</td>
            <td>{{band.genre}}</td>
            <td>{{band.youngest_member_age}}</td>
            <td>
                <a [routerLink]="['/edit', band._id]" class="btn btn-success me-2">Edit</a>
                <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteBand(band._id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
